<script type="text/ng-template"  id="tree_nodes">
    <a ng-click="toggleChildNodesVisibility($event)" ng-show="node.childNodes" ng-class="{true:'icon-expand-alt', false:'icon-collapse-alt', '':''}[collapsedAtInit]" class="icon-large"></a>
   

    <input type="checkbox" ng-model="node.hasBeenAdded" ng-change="addSingle(node, node.hasBeenAdded)">
     <span>{{node.firstName}} </span> <span class="user-role" ng-show="node.childNodes">({{node.role}})</span>
    <span ng-show="node.childNodes">
      <input type="button" class="btn btn-mini" ng-click="addAndIncludeChildNodes(node, true)" value="add all"> 
      <input type="button" class="btn btn-mini" ng-click="addAndIncludeChildNodes(node, false)" value="remove all"> 
    </span></span>

    <ul ng-class="{true:'collapsed', false:'', '':''}[collapsedAtInit]">
        <li ng-repeat="node in node.childNodes" ng-include="'tree_nodes'"></li>
    </ul>
</script>


<div class="tree-view">

  <div style="height:50px;">
    <span>added Users: {{allActiveNodes.length}}</span><br/>
    <span ng-repeat="activeUser in allActiveNodes" style="margin: 5px;" class="label label-info">
      {{activeUser.firstName}} 
      <i ng-click="removeNodeFromActiveNodes(activeUser)" class="icon-remove" style="color: #eaeaea; cursor:pointer"></i>
    </span>
  </div>

  <ul>
    
    <a ng-click="toggleChildNodesVisibility($event)" ng-class="{true:'icon-expand-alt', false:'icon-collapse-alt', '':''}[collapsedAtInit]" class="icon-large"></a>
      <input type="checkbox" ng-model="users.hasBeenAdded" ng-change="addSingle(users, users.hasBeenAdded)">
      <span>{{users.firstName}} </span><span class="user-role">({{users.role}})</span>
      <input type="button" class="btn btn-mini" ng-click="addAndIncludeChildNodes(users, true)" value="add all"> 
      <input type="button" class="btn btn-mini" ng-click="addAndIncludeChildNodes(users, false)" value="remove all">  
    
    <ul ng-class="{true:'collapsed', false:'', '':''}[collapsedAtInit]">
      <li ng-repeat="node in users.childNodes" ng-include="'tree_nodes'"></li>
    </ul>
  </ul>
</div>

<style>

  ul
  {
    list-style-type:none;
    padding: 3px 0;
    margin:0 0 0 40px;
    font-size: 14pt;
  }

  ul.collapsed {
    display: none;
  }

  .user-role {
    font-size: 10pt;
    color: gray;
  }
</style>


