extends layout

block body
  
  div(ng-view, style="margin: 10px;")

  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/controller/feedback-controller.js')
  script(src='js/components/tree-selector/tree-selector-comp.js')
  script(src='js/app.js')

